<div class="container">
  <header class="row">
    <div class='col-xs-3 col-sm-3 logo'>
      <figure (click)="goHome()">
        <img class='img img-thumbnail' src="assets/images/frog250.jpg">
      </figure>
    </div>
    <div class='col-xs-12 col-sm-9 header'>
      <h1>About Me</h1>
    </div>
  </header>
  <hr>
  <div class='row content'>
    <div class="row">
      <div class="col-xs-12 col-sm-9 text">
        <p>JanetHollier.com is a personal site that provides a window into my software development world by highlighting the projects I've worked on since graduating in 2010 from the University of Washington.  It also captures useful tips and techniques that I've learned over the years, particularly those that I am likely to reuse on new projects.  For additional fun, I've also included some of my non-technical (artsy-crafty) creations that might appeal to fellow artsy-crafters.</p>
        <p>So who am I?  Well, that would be...</p>
        <p><span class="emphasis">...a happy wife</span>.  I met my husband many years ago while working in France where we were both writing internal software systems for NCR Corporation.  He's a tech-nerd superhero with mad skills.  My goal is to code like him.</p>
        <p><span class="emphasis">...a proud mom of eight</span> (including my four-legged kids).  Three amazing and talented children, two boisterous dogs and three fluffy cats.  (Yes, we vacuum a lot.)</p>
        <p><span class="emphasis">...a software and web developer</span>.  My passion for coding ignited over thirty years ago and has only grown stronger with time.  I appreciate and, therefore, strive to write clean, efficient code, and to this end, I am always working to improve my skills.  Writing code is my favorite creative outlet and at times, is even therapeutic.</p>
        <p><span class="emphasis">...a college instructor</span>.  During the last two years, I taught object-oriented programming and web development courses at two community colleges.  Teaching is fantastic -- grading is not!</p>
        <p><span class="emphasis">...a student</span>.  <i>"Never stop learning!"</i> &nbsp;Though I've graduated college twice (Decision Sciences and Computer Science), I just can't seem to get enough education.  Online courses and tutorials are the best thing since sliced bread!  I am now working my way through the catalog of courses offered by udacity.com. </p>
        <p><span class="emphasis">...a tinkerer</span>.  With so many new and evolving software development tools available, I like to create little projects that let me try the new things out -- to 'learn by doing'.  Yeah, ok, so sometimes I'm like, <i>"Squirrel!"</i> and bounce from one new project to another, but who can blame me when there are so-o-o many fun, new things explore!  (Personally, I blame my husband.  He's the enabler... :) &nbsp; My latest adventure involves a BleBeacon, two dogs and their dog bowls.</p>
        <p><span class="emphasis">...a pseudo-artist</span>.  Though I would never claim to be a <i>true</i> artist, I do have an artistic eye that enables me to design user interfaces and and create the graphics needed for my projects.</p>
      </div>
      <div class="col-xs-12 inset col-sm-3 text">
        <figure>
          <img src="assets/images/janet.jpg" class="img-responsive img-thumbnail">
          <figcaption>Janet Hollier</figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 inset col-sm-3">
        <figure>
          <img src="assets/images/real-mumfrog.jpg" class="img-responsive img-thumbnail">
          <figcaption>The real Mumfrog</figcaption>
        </figure>
      </div>
      <div class="col-xs-12 col-sm-9">
        <p>So why the frog logo?</p>
        <p>Well, little frogs are cute (we get hundreds of them in our back yard in the spring) and I like bright colors!  :) The logo is a stylized image I created of mumFrog, my desk companion:&nbsp; a cheerful, daisy-wearing, ceramic frog who steadfastly holds my writing implements, smiles benignly at me while I bang my head in frustration against the computer monitor, and never utters a word of reproach if there's a bug in my code.  (Being a frog, she doesn't complain about bugs, she just eats them.)</p>
        <p>That's why.</p>
      </div>
    </div>
  </div>
</div>