/* You can add global styles to this file, and also import other style files */
/* color theme:
  light green: #b4e19e
  bright green: #09B40D
  mid green: #419427
  bright blue: #183e90
  med. blue: #607D8B
  dark blue: #192644
  charcoal: #333
  mid gray: #444
  gray: #eee
*/

/* #docregion , quickstart, toh */
/* Master Styles */
h1 {
  color: black;
  font-family: Cambria, Georgia, serif;
  font-size: 250%;
}
h2, h3 {
  color: #333;
  font-family: Cambria, Georgia;
  font-weight: lighter;
}
/* #enddocregion quickstart */
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  color: #607D8B;
}
a:focus {
  text-decoration: none;
}
a:focus, a:hover {
  color: #419427;
  text-shadow: 0 0 0.02em #607D8B;
}

img {
  max-width: 100%;
}
/* #docregion toh */
/* everywhere else */
* {
  font-family: Cambria, Georgia, serif;;
}

/* styling for demo innerHTML */
.demo .inset {
  width: 300px;
  margin: 10px auto;
  display: block;
  clear: both;
  padding: 0;
}
.demo img, .caption {
  max-width: 80%;
  margin: 1em auto;
  display: block;
}
.full-width {
  clear: both;
  display: block;
}
.demo td {
  border: 1px solid #333333;
  padding: 1em;
}
.bottom-spacer {
  height: 2em;
}
.half-size {
  max-width: 50%;
}
.borderless {
  borders: none;
}