<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">
      <div class="inner cover"> 
        <img class="center" src="assets/images/frog770x400.jpg" alt="mumfrog">
        <img class="masthead-brand" src="assets/images/porthollier3.png">
        <h2 class="">Welcome to my portfolio!</h2>
        <p class="lead">Take a look around to see what I've been working on.</p>
      </div>
      
    </div>  <!-- end cover-container -->

    <app-dashboard></app-dashboard>
  
  </div>  <!-- end site-wrapper-inner -->
</div>  <!-- end site-wrapper -->
